@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;400&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/*__________1. Global Styles__________*/
* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    padding: 0;
    margin: 0;
}
/*___1.1 Variables___*/
:root {
    --main-title-font-color: #5722cd;
    --main-bg-color: white;
    --main-projects-bg-color: #f3f6f9;

}

/*__________2. Typography___________*/
h1,
h2,
h3,
h4 {
    font-family: Merriweather, Serif;
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 50px;
}

h3 {
    color: var(--main-title-font-color);
    font-size: 30px;
}

h4 {
    color: black;
    font-size: 30px;
    text-transform: capitalize;
}

.main__text-1,
.main__text-2,
.main__text-3,
.main__text-4,
.main__text-5,
.main__text-6 {
    font-size: 20px;
    letter-spacing: 0.8px;
}
.main__inner-container-2 a {
    text-transform: uppercase;
    text-decoration: none;
}

/*__________3. Layout__________*/

/*___3.1 Reusables___*/

/*___3.2 Other___*/
.header__outer-container,
.main__outer-container,
.footer__outer-container {
    border: 2px solid red;
}

.header__inner-container,
.main__inner-container-1,
.main__inner-container-2,
.main__inner-container-3,
.footer__inner-container {
    border: 2px solid green;
}

.navigation,
.navigation__item,
.navigation__list,
.header__hero-section,
.header__title,
.header__sub,
.button--active,
.header__wave-img,
.main__title-1,
.main__title-2,
.main__title-3,
.main__question-click,
.main__work-1,
.main__work-2,
/*.main__article-2,*/
/*.main__article-3,*/
/*.main__article-4,*/
/*.main__article-5,*/
/*.main__text-1,*/
/*.main__text-2,*/
/*.main__text-3,*/
/*.main__text-4,*/
/*.main__text-5,*/
.main__services-1,
.main__services-2,
.main__services-3,
.main__services-4,
.main__services-5,
.main__services-6,
.footer__hero-section,
.footer__title,
.footer__sub,
.footer__personal-information,
.footer__fullname,
.footer__emailaddress,
.footer__message-us,
.footer__button-send,
.footer__javascipt-needed {
    border: 2px solid orange;
}

/*__________4. Areas__________*/

/*___4.1 HEADER___*/
.header__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: var(--main-title-font-color);

}

.header__inner-container {
    flex-basis: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    /*position: relative;*/
}

.navigation {


}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    padding: 10px;
    font-weight: 400;
    padding-top: 25px;
    font-size: 15px;
}

.navigation__item {
    list-style-type: none;
    /*max-width: 1400px;*/

}

.navigation__item a {
    text-transform: capitalize;
    text-decoration: none;
    color: #f2f0ff;

}

.header__hero-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;

}

.header__title {
    max-width: 850px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    /*align-self: center;*/
}

.header__sub {
    font-weight: lighter;
    display: inline-block;
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
}

.button--active {
    text-transform: uppercase;
    background-color: #ed4385;
    color: white;
    font-size: 18px;
    word-spacing: 3px;
    border: 20px solid #ed4385;
    border-radius: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 11px 13px -10px black;
    letter-spacing: 1px;

    /*width: auto;*/
    /*padding-bottom: ;*/
}

.header__wave-img {
    width: 100px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    align-self: center;
    /*position: absolute;*/
}

/*___4.2 MAIN___*/
.main__outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;

}

/*__4.2.1 MAIN-INNER-CONTAINER-1__*/
.main__inner-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 950px;

}

.main__title-1,
.main__title-2,
.main__title-3 {
    padding: 1em;
    /*text-align: center;*/
}

.main__question-click {
    padding-top: 60px;
}

 .main__title-1 {
     padding-top: 30px;
 }

/*__4.2.2 MAIN-INNER-CONTAINER-2__*/
.main__inner-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
}


.main__work-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main__work-1 .main__subject {
    align-self: flex-end;
}
.main__work-2 {

}

.main__inner-container-2 img {
    width: 600px;
}

h4 + .main__squiggle {
    width: 60px;
}


/*__4.2.3 MAIN-INNER-CONTAINER-3__*/

/*___4.3 FOOTER___*/
.footer__outer-container {
    background-color: var(--main-title-font-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 700px;
}

/*.footer__hero-section::first-letter {*/
/*    text-transform: capitalize;*/
/*}*/

.footer__hero-section {

}

.footer__title {
    text-transform: capitalize;

}

.footer__sub {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
}

form {
    align-self: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2em;
    color: white;


}

.footer__personal-information {
    font-weight: 400;
    display: block;
    /*align-self: flex-start;*/
    /*align-items: flex-start;*/
    /*display: block;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*!*justify-content: space-evenly;*!*/
    /*align-items: flex-start;*/
    gap: 2em;
    /*color: white;*/
    width: 700px;
}
/*#fullname,*/
/*#emailaddress,*/
/*#message-us {*/
/*    align-self: flex-start;*/
/*    display: block;*/
/*    width: ;*/
/*}*/

.footer__button-send {
    align-self: center;
}

form button {
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ed4385;
    color: white;
    border: 15px solid #ed4385;
    border-radius: 50px;
    box-shadow: 0px 10px 70px -20px black;
    width: 150px;
}

/*__________5. Media Queries__________*/