@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300&display=swap');

/*__________1. Global Styles__________*/
* {
    margin: 2px;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
/*___1.1 Variabelen___*/
:root {
    --header-footer-bg-color: #5722cd;
    --main-bg-color: white;
    --projects-bg-color: #f3f6f9;

}

/*__________2. Typography___________*/
h1,
h2,
h3 {
    font-family: "Merriweather", Serif;
}
h1 {
    color: white;
    font-size: 50px;
}
h3 {
    color: var(--header-footer-bg-color);
    font-size: 30px;
}
/*__________3. Layout__________*/

/*__________4. Areas__________*/

/*___4.1 HEADER___*/
.header__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 2px solid red;*/
    /*position: relative;*/
    background-color: var(--header-footer-bg-color);

}

.header__inner-container {
    flex-basis: 1400px;
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    position: relative;
}

.navigation {
    /*border: 2px solid orange;*/

}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    /*font-weight: bold;*/
}

.navigation__item {
    list-style-type: none;
    max-width: 1400px;

}

.navigation__item a {
    text-transform: capitalize;
    text-decoration: none;
    color: #f2f0ff;

}
.header__hero-section {
    box-sizing: border-box;
    /*border: 2px solid orange;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;

}

.header__title {
    max-width: 850px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    /*align-self: center;*/
}

.header__sub {
    display: inline-block;
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
}

.button--active {
    text-transform: uppercase;
    background-color: #ed4385;
    color: white;
    font-size: 18px;
    word-spacing: 3px;
    border: 20px solid #ed4385;
    border-radius: 50px;
    box-shadow: 0px 15px 60px -20px black;
    width: auto;
    /*padding-bottom: ;*/


}

.header__wave-img {
    /*border: 2px solid orange;*/
    width: 100px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    align-self: center;
}

/*___4.2 MAIN___*/
.main__outer-container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.main__inner-container-1 {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 950px;

}

.main__title-1,
.main__title-2,
.main__title-3 {
    padding: 1em;
    /*text-align: center;*/
}

.question-click {
    border: 2px solid orange;
    padding-top: 30px;
}
 .main__title-1 {
     border: 2px solid orange;
     padding-top: 30px;
 }


/*___4.3 FOOTER___*/
.footer__outer-container {
    border: 2px solid red;
    background-color: #5722cd;
    display: block;
}

.footer__inner-container {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*.footer__hero-section::first-letter {*/
/*    text-transform: capitalize;*/
/*}*/
.footer__hero-section {
    border: 2px solid orange;
}

.footer__title {
    border: 2px solid orange;
    text-transform: capitalize;

}

.footer__sub {
    border: 2px solid orange;
    color: white;
    text-align: center;
}

form {
    border: 2px solid orange;
    align-self: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2em;
    color: white;

}

.personal-information {
    border: 2px solid orange;
    display: block;
    align-self: flex-start;
    /*align-items: flex-start;*/
    /*display: block;*/
    /*text-transform: capitalize;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-evenly;*/
    /*align-items: flex-start;*/
    /*gap: 2em;*/
    /*color: white;*/
}
/*#fullname,*/
/*#emailaddress,*/
/*#message-us {*/
/*    align-self: flex-start;*/
/*    display: block;*/
/*    width: ;*/
/*}*/

form button {
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ed4385;
    color: white;
    border: 15px solid #ed4385;
    border-radius: 50px;
    box-shadow: 0px 10px 70px -20px black;
    width: 150px;

}
